body {
    background-color: #C3D9FF;
    background-image: url("/images/lbluegraygrad.png");
    background-repeat: repeat-x;
    font-family: sans-serif, "DejaVu Sans";
}

img {
    border: none;
}

h2 {
    margin-top: 0;
}

h4, h5 {
    margin: 4px 0;
}

h4 {
    font-size: 1.25em;
}

a {
    font-size: 12px;
}

a:link, a:visited {
    color: #616c7e;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: black;
    text-decoration: underline overline;
}

#container {
    width: 1200px;
    margin: 0 auto 30px;
}

div#nav {
    clear: both;
}

#display_tab {
    padding:0px;
    width: 50%;
}

#display_tab a:link, #display_tab a:visited {
    color: silver;
}

#display_tab a:hover {
    color: #E5E5E5;
    text-decoration: underline overline;
}

#display_tab ul {
    float:left;
    padding:0px;
    margin:0px;
    list-style:none;
}

#display_tab li {
    width:125px;
    float:left;
    height:23px;
    text-align: center;
    border-right:1px solid black;
    border-top:2px solid black;
    border-left:1px solid black;
    background-color:silver;
    position:relative;
    top:7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}

#display_tab li.current {
     background-color: #e5e5e5; 
    /*background-image: url("/images/slashwa.png");*/
    padding-top:2px;
}

#display_tab li.first {
    border-left:2px solid black;
}

#display_tab li.last {
    border-right:2px solid black;
    margin-right: 10px;
}

#display_tab a {
    font-weight:bold;
}

span#main_search_box {
  float: left;
  margin-right: -18px;
  width: 320px;
}

span#main_search_box input {
  width: 280px;
  padding-right: 20px;
  font-style: italic;
  color: gray;
  float: left;
}

span#search_box {
    float: right;
    height: 25px;
    border-right:2px solid black;
    border-top:2px solid black;
    border-left:1px solid black;
    background-color: #e5e5e5;
    /*background-image: url("/images/slashwa.png");*/
    position:relative;
    padding: 5px 5px 0px;
    top:2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    width: 375px;
}

input {
    font-size: 12px;
}

input[type=text], select, input[type=file] {
    border: 1px solid #C3D9FF;
    padding-right: 5px;
}

input[type=text]:focus, select:focus, input[type=file]:focus {
    background: #EEF5FF;
}

div.auto_complete {
    font-size:12px;
}

.round {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.round_bottom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}

.round_left {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}
.round_right {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}
.round_top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}

.shadow {
  box-shadow: 0px 0px 9px #313131;
  -webkit-box-shadow: 0px 0px 9px #313131;
  -moz-box-shadow: 0px 0px 9px #313131;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#313131, offX=0, offY=0, positive=true);
}

div.pop_up {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: white;
    border: 2px solid black;
    left: 30%;
    max-height: 400px;
    padding: 20px 10px 20px 20px;
    position: fixed;
    top: 50px;
}

div.inner_scroll {
    overflow: auto;
    max-height: 360px;
    padding-right: 10px;
}

div.fade_back {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
}

#lev1 {
    z-index: 21
}

#lev2 {
    z-index: 23
}

#lev3 {
    z-index: 25
}

#lev4 {
    z-index: 27
}

#trans1 {
    z-index: 20
}

#trans2 {
    z-index: 22
}

#trans3 {
    z-index: 24
}

#trans4 {
    z-index: 26
}

div.window_close_block {
    bottom:8px;
    float:right;
    position:relative;
}

img.window_close {
    width: 15px;
    height: 15px;
}

#top_nav {
    font-size: 13px;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    border: 1px solid transparent;
    background-color: transparent; /* #E5E5E5;
    -moz-border-radius: 7px;
    border-radius: 7px; */
}

#top_nav a:link, a:visited {
    color: #616c7e;
    text-decoration: none;
}

#top_nav a:hover {
    color: black;
    text-decoration: underline overline;
}

#user_info {
    float:right;
    padding: 3px 5px;
    background-color: #e5e5e5;
    /* background-image: url("/images/slashwa.png"); */
    border: 2px solid black;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#flash_info {
    width: 600px;
    margin: 0 auto;
    margin-top: 13px;
    text-align: center;
}

#page_title {
    width: 20%;
    float: left;
    margin-left: 40px;
}

#page_title a, #page_title a:hover {
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    color: white;
    text-shadow:#000 1px 1px 6px;
}

span.notice {
    padding: 3px;
    border: 2px solid #008C00;
    color: #008C00;
    background-color: #e0ffd5;
}

span.alert {
    padding: 3px;
    border: 2px solid #B02B2C;
    color: #B02B2C;
    background-color: #f8dde1;
}

span.logged_user {
    float:left;
    margin-right: 10px;
}

#user_info label {
    font-weight: bold;
}

#user_info .user_avatar {
    float:left;
}

.user_avatar img {
    max-width: 30px;
    max-height: 30px;
}

div#view_filters {
    /*position:fixed;
    bottom:0;
    left:0;
    right:0;*/
}

div#show_view_filters {
    background-color: silver;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 8%;
    float:left;
    padding-left: 5px;
}

div.field {
    margin-right: 10px;
}

div#general_filters {
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;*/
    margin-top: 15px;
    /*background-color: #E5E5E5;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
    float:left;
    width: 100%;
}

div#platforms_general_filters,
div#publishers_general_filters,
div#developers_general_filters,
div#genres_general_filters,
div#ratings_general_filters {
    font-size: 13px;
    background-color: #E7E7E7;
    margin: 5px 5px 5px 0px;
    float:left;
    height: 145px;
    border: 1px solid black;
    padding: 3px 5px 5px;
    width: 20%;
    
}

div#first_filter_cat {
    float:left;
    text-align: right;
    position:relative;
    left: 1px;
}

#first_filter_cat a {
    font-size: 16px;
}

div#first_filter_cat ul {
    float:left;
    padding:5px 0px 5px 5px;
    margin:0px;
    list-style: none;
}

div#first_filter_cat li {
    padding:2px 4px;
}

#ratings_tab {
    border-bottom: 1px solid black;
}

li.nc_show_filter {
    background-color: #CACFD7;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

li.current_show_filter {
    border-left:1px solid black;
    border-top:1px solid black;
    border-right: 1px solid transparent;
    background-color: #E7E7E7;
}

li.current_show_filter a {
    color: black !important;
}

li.current_show_filter a:hover {
    text-decoration: none;
}

span.check_top_filter {
    float:right;
}

span.general_links {
    float:right;
    padding-right: 5px;
    text-align: right;
}

div.title_top_filter {
    margin-top: 2px;
    font-size: 14px;
}

div.filters {
  margin-top: 5px;
  overflow-y: scroll;
  height: 122px;
}

span.search_filter input {
  font-size: 12px;
  color: gray;
  font-style: italic;
  padding-right:20px;
  width:135px;
}

div.form_container {
    background-color: #e5e5e5; 
    /*background-image: url("/images/slashwa.png");*/
    border: 2px solid black;
    display: table;
    width: 1196px;
    margin: 0 auto;
    height: 100%;
}

div.form_header {
    clear: both;
    padding: 20px;
    width: 100%;
    text-align: center;
}

div.form_content {
    background-color: #c9ced7;
    border: 1px solid silver;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}

div.form_label {
    float: left;
    width: 48%;
    text-align: right;
    padding-bottom: 10px;
}

div.form_text {
    float: right;
    width: 48%;
    padding-bottom: 10px;
}

div.form_submit {
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.form_links {
    text-align: right;
}

div.form_check {
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/* AUTO COMPLETE STYLE */
div.auto_complete {
  width: 298px;
  background: #fff;
  z-index: 1;
}
div.auto_complete ul {
  border:1px solid silver;
  margin:0;
  padding-bottom: 1px;
  padding-left: 0;
  width:100%;
  list-style-type:none;
  background-color: white;
}
div.auto_complete ul li {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding:1px;
  background-color: #DFEBFF;
  display: table;
  width: 298px;
}
div.auto_complete ul li.selected {
  background-color: white;
  font-weight: bold;
}
div.auto_complete ul strong.highlight {
  color: #000;
  margin:0;
  padding:0;
}

div.auto_complete ul li span.result_text {
  width: 240px;
  float: left;
  display: block;
  margin-right: 3px;
}

span.clear_text  {
  width: 15px;
  left:-19px;
  position:relative;
  top:2px;
}
