<!-- previous years -->
<div class="next_year">
  <%= image_tag 'go-next.png', :size => "16x16", :alt => "<", :class => "next" %>
</div>

<!-- years -->
<div id="year_nav_slider">
  <ul>
    <% year = 2012 %>
    <% while year >= 1975 %>
      <% selected = @year == year %>
      <li class="year<%= " selected" if selected %>">
        <%= link_to_unless selected, year, year_path(year) %>
        <% year -= 1 %>
      </li>
      <% unless year < 1975 %>
        <li>&nbsp;-&nbsp;</li>
      <% end %>
    <% end %>
  </ul>
</div>

<!-- next years -->
<div class="previous_year">
  <%= image_tag 'go-prev.png', :size => "16x16", :alt => ">", :class => "previous" %>
</div>
