<div id="year_display" class="round_bottom">

  <!-- years navigation bar -->
  <div class="year_text">
    <%= render 'years' %>
  </div>

  <!-- content for year view -->
  <div id="year_view">
    <%= render 'year_view' %>
  </div>
</div>
