<div id="year_display" class="round_bottom">
  <div id="year_text"><%= render 'years' %></div>
  <div id="year_view">
    <%= render 'year_view' %>
  </div>
</div>
<!-- <div id="transparent_new_game" style="display: none;"></div>
<div id="pop_new_game" style="display: none;"></div>
<div id="transparent_dev_pub" style="display: none;"></div>
<div id="pop_dev_pub" style="display: none;"></div> -->
