<h2>
  <%= @character.name %>
</h2>
<div class="inner_scroll">
  <%= image_tag(@character.picture.url(:thumb), :alt => @character.name) %>
  <div id="recent_games">
    <h5>Games:</h5>
    <%= games_list(@character.games, :series => true) %>
  </div>
</div>